{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QKD</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <header id="header">
        <div class="logo">
            <img id="header-img"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Blochsphere.svg/1200px-Blochsphere.svg.png"
                alt="QKD logo" />
        </div>

        <nav id="nav-bar">
            <ul> <!--TODO: Añadir efectos bajar suave a los distintos puntos-->
                <li><a class="nav-link" href="#documentacion">Documentación</a></li>
                <li><a class="nav-link" href="#implementacion">Implementación</a></li>
                <li><a class="nav-link" href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="title">
            <h1>Criptografía Cuántica</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </section>
        <section id="que_es" class="main_text">
            <h2>¿Qué es?</h2>
            <p>Definición</p>
            <p>A qué afecta</p>
            <p>Referencia a noticia reciente</p>
        </section>
        <section id="que_sirve" class="main_text">
            <h2>¿Para qué sirve?</h2>
            <p>Ideas generales de usos. Principales implicaciones</p>
            <p>Definición de protocolo</p>
            <p>Caso de uso general del protocolo aquí implementado. Explicado en detalle.</p>

            <p>BB84 es un protocolo de distribución de clave cuántica (QKD), desarrollado en 1984. El objetivo principal
                de
                BB84 es permitir a dos partes comunicarse de forma segura y establecer una clave secreta compartida que
                luego se puede utilizar para cifrar y descifrar mensajes de manera segura, aprovechando las propiedades
                cuánticas para detectar
                cualquier intento de interferencia o espionaje en el canal de comunicación. </p>
            </p>
        </section>
        <section id="como_implementarlo" class="main_text">
            <h2>¿Cómo implementarlo?</h2>
            <p>Resumen del desarrollo del proyecto</p>
            <p>Para ver el source code ir a Implementación</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Alba Aparicio. All rights reserved.</p>
    </footer>
</body>

</html>